{% extends "base.html" %}

{% block content %}
<h2>{{ question.question }}</h2>

<form method="POST">
    {% for option in question.options %}
        <div>
            <input type="radio" id="option{{ loop.index0 }}" name="answer" value="{{ loop.index0 }}" required>
            <label for="option{{ loop.index0 }}">{{ option }}</label>
        </div>
    {% endfor %}
    <button type="submit">Responder</button>
</form>

<p>Puntaje actual: {{ game_instance.current_score }}</p>
{% endblock %}





